Source/Taxi.Services/Service References/ServiceApp/OperationService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Staxi.Core.Systems.Hosting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Staxi.Core.Systems.Hosting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOneTaxiCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OneTaxiCar" nillable="true" type="tns:OneTaxiCar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOneTaxiCar" nillable="true" type="tns:ArrayOfOneTaxiCar" />
  <xs:complexType name="OneTaxiCar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bearing" type="xs:float" />
      <xs:element minOccurs="0" name="Lat" type="xs:float" />
      <xs:element minOccurs="0" name="Lng" type="xs:float" />
      <xs:element minOccurs="0" name="TaxiType" type="xs:int" />
      <xs:element minOccurs="0" name="VehiclePlate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OneTaxiCar" nillable="true" type="tns:OneTaxiCar" />
</xs:schema>