Source/Taxi.Services/Service References/ServiceApp/OperationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Staxi.Servers.Sockets.Concretes.OperatorServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Staxi.Servers.Sockets.Concretes.OperatorServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperatorCenter.GPSData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Velocity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorCenter.GPSData" nillable="true" type="tns:OperatorCenter.GPSData" />
</xs:schema>