Source/Taxi.Services/Service References/ServiceG5/OperationService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Staxi.Business.DataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Staxi.Business.DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LatLng" nillable="true" type="tns:LatLng" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:complexType name="DataTypeBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataTypeBase" nillable="true" type="tns:DataTypeBase" />
  <xs:complexType name="LatLng">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lat" type="xs:float" />
          <xs:element minOccurs="0" name="Lng" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LatLng" nillable="true" type="tns:LatLng" />
  <xs:simpleType name="Direction">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="One" />
      <xs:enumeration value="Two" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:simpleType name="ConfirmDoneBook">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Done" />
      <xs:enumeration value="DriverCancel" />
      <xs:enumeration value="CustomerCancel" />
      <xs:enumeration value="MissTrip" />
      <xs:enumeration value="NoCar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfirmDoneBook" nillable="true" type="tns:ConfirmDoneBook" />
</xs:schema>