Source/TestAddress/Service References/TaxiServices/TaxiOperation_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCallsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="dmn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCallsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCallsInfoResult" type="tns:ArrayOfCallInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCallInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CallInfo" nillable="true" type="tns:CallInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CallInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPick" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CallType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CallSource" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Region" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TripType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetCallsInfo_Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="dmn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCallsInfo_TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCallsInfo_TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCallsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCallsInfo" />
  </wsdl:message>
  <wsdl:message name="GetCallsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCallsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCallsInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetCallsInfo_TestSoapIn">
    <wsdl:part name="parameters" element="tns:GetCallsInfo_Test" />
  </wsdl:message>
  <wsdl:message name="GetCallsInfo_TestSoapOut">
    <wsdl:part name="parameters" element="tns:GetCallsInfo_TestResponse" />
  </wsdl:message>
  <wsdl:message name="GetCallsInfo_TestAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="TaxiOperation_ServicesSoap">
    <wsdl:operation name="GetCallsInfo">
      <wsdl:input message="tns:GetCallsInfoSoapIn" />
      <wsdl:output message="tns:GetCallsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCallsInfo_Test">
      <wsdl:input message="tns:GetCallsInfo_TestSoapIn" />
      <wsdl:output message="tns:GetCallsInfo_TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaxiOperation_ServicesSoap" type="tns:TaxiOperation_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCallsInfo">
      <soap:operation soapAction="http://tempuri.org/GetCallsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCallsInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallsInfo_Test">
      <soap:operation soapAction="http://tempuri.org/GetCallsInfo_Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCallsInfo_TestAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaxiOperation_ServicesSoap12" type="tns:TaxiOperation_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCallsInfo">
      <soap12:operation soapAction="http://tempuri.org/GetCallsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCallsInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallsInfo_Test">
      <soap12:operation soapAction="http://tempuri.org/GetCallsInfo_Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCallsInfo_TestAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaxiOperation_Services">
    <wsdl:port name="TaxiOperation_ServicesSoap" binding="tns:TaxiOperation_ServicesSoap">
      <soap:address location="http://117.6.95.56:86/TaxiOperation_Services.asmx" />
    </wsdl:port>
    <wsdl:port name="TaxiOperation_ServicesSoap12" binding="tns:TaxiOperation_ServicesSoap12">
      <soap12:address location="http://117.6.95.56:86/TaxiOperation_Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>