Source/Taxi.Services/Service References/Services_TCPOP/TcpOP5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Staxi.Business.DataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Staxi.Business.DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LatLng">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataTypeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Lat" type="xs:float" />
          <xs:element minOccurs="0" name="Lng" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LatLng" nillable="true" type="tns:LatLng" />
  <xs:complexType name="DataTypeBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataTypeBase" nillable="true" type="tns:DataTypeBase" />
</xs:schema>