Source/Taxi.Services/Service References/FastTaxi_OperationService/OperationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.TaxiReturnRoute.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.TaxiReturnRoute.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.2.172:2525/OperationService?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.DataBase.TaxiReturnTopo" />
  <xs:import schemaLocation="http://10.0.2.172:2525/OperationService?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Route">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.DataBase.TaxiReturnTopo" minOccurs="0" name="CurrentNode" nillable="true" type="q1:Node" />
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.DataBase.TaxiReturnTopo" minOccurs="0" name="EndNode" nillable="true" type="q2:Node" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NodeList" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Route" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Route" nillable="true" type="tns:Route" />
</xs:schema>