Source/Taxi.Services/Service References/FastTaxi_OperationService/OperationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.DataBase.TaxiReturnTopo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.DataBase.TaxiReturnTopo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellID" type="xs:int" />
      <xs:element minOccurs="0" name="Coordinate" nillable="true" type="tns:CoordinateToPo" />
      <xs:element minOccurs="0" name="LinkerList" nillable="true" type="tns:ArrayOfLinker" />
      <xs:element minOccurs="0" name="PK_NodeID" type="xs:int" />
      <xs:element minOccurs="0" name="RoadOver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrGeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Node" nillable="true" type="tns:Node" />
  <xs:complexType name="CoordinateToPo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoordinateToPo" nillable="true" type="tns:CoordinateToPo" />
  <xs:complexType name="ArrayOfLinker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Linker" nillable="true" type="tns:Linker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinker" nillable="true" type="tns:ArrayOfLinker" />
  <xs:complexType name="Linker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Angle" type="xs:double" />
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="FK_NodeID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionLevel" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Linker" nillable="true" type="tns:Linker" />
</xs:schema>