Source/Taxi.Services/Service References/FastTaxi_OperationService/OperationService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.Sockets.Operation_345.MsgToMasters_2.From_4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.Sockets.Operation_345.MsgToMasters_2.From_4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarOnline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarOnline" nillable="true" type="tns:CarOnline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarOnline" nillable="true" type="tns:ArrayOfCarOnline" />
  <xs:complexType name="CarOnline">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehiclePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XNCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarOnline" nillable="true" type="tns:CarOnline" />
</xs:schema>