Source/Taxi.Services/Service References/FastTaxi_OperationService/OperationService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.TaxiReturnRoute" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BA.Fasttaxi.Network.Documents.TaxiReturnRoute" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RouteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteDetails" nillable="true" type="tns:RouteDetails" />
</xs:schema>