Source/Taxi.Services/Service References/WCFServices/WCFSyncService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCall_Sumary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Call_Sumary" nillable="true" type="tns:Call_Sumary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCall_Sumary" nillable="true" type="tns:ArrayOfCall_Sumary" />
  <xs:complexType name="Call_Sumary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongCuocHang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongCuocHang_ThueBao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTruotHoan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Call_Sumary" nillable="true" type="tns:Call_Sumary" />
</xs:schema>