Source/FormTestServices/Service References/ServicesGEO/ServicesOnline.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicesOnline" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicesOnline_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.2.179:7001/WCFServiceGEO?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.2.179:7001/WCFServiceGEO?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.2.179:7001/WCFServiceGEO?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicesOnline_GetAddressByGeo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressByGeo" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetAddressByGeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressByGeoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeobyAddressBA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeobyAddressBA" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeobyAddressBA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeobyAddressBAResponse" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeobyAddressBA_HN_First_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeobyAddressBA_HN_First" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeobyAddressBA_HN_First_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeobyAddressBA_HN_FirstResponse" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetAddressByGeo_Google_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressByGeo_Google" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetAddressByGeo_Google_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressByGeo_GoogleResponse" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeoByAddress_Google_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoByAddress_Google" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeoByAddress_Google_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoByAddress_GoogleResponse" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeoByAddress_GoogleV2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoByAddress_GoogleV2" />
  </wsdl:message>
  <wsdl:message name="IServicesOnline_GetGeoByAddress_GoogleV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoByAddress_GoogleV2Response" />
  </wsdl:message>
  <wsdl:portType name="IServicesOnline">
    <wsdl:operation name="GetAddressByGeo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicesOnline/GetAddressByGeo" message="tns:IServicesOnline_GetAddressByGeo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicesOnline/GetAddressByGeoResponse" message="tns:IServicesOnline_GetAddressByGeo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeobyAddressBA">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicesOnline/GetGeobyAddressBA" message="tns:IServicesOnline_GetGeobyAddressBA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicesOnline/GetGeobyAddressBAResponse" message="tns:IServicesOnline_GetGeobyAddressBA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeobyAddressBA_HN_First">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicesOnline/GetGeobyAddressBA_HN_First" message="tns:IServicesOnline_GetGeobyAddressBA_HN_First_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicesOnline/GetGeobyAddressBA_HN_FirstResponse" message="tns:IServicesOnline_GetGeobyAddressBA_HN_First_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressByGeo_Google">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicesOnline/GetAddressByGeo_Google" message="tns:IServicesOnline_GetAddressByGeo_Google_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicesOnline/GetAddressByGeo_GoogleResponse" message="tns:IServicesOnline_GetAddressByGeo_Google_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoByAddress_Google">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicesOnline/GetGeoByAddress_Google" message="tns:IServicesOnline_GetGeoByAddress_Google_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicesOnline/GetGeoByAddress_GoogleResponse" message="tns:IServicesOnline_GetGeoByAddress_Google_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoByAddress_GoogleV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicesOnline/GetGeoByAddress_GoogleV2" message="tns:IServicesOnline_GetGeoByAddress_GoogleV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicesOnline/GetGeoByAddress_GoogleV2Response" message="tns:IServicesOnline_GetGeoByAddress_GoogleV2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicesOnline" type="tns:IServicesOnline">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicesOnline_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAddressByGeo">
      <soap12:operation soapAction="http://tempuri.org/IServicesOnline/GetAddressByGeo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeobyAddressBA">
      <soap12:operation soapAction="http://tempuri.org/IServicesOnline/GetGeobyAddressBA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeobyAddressBA_HN_First">
      <soap12:operation soapAction="http://tempuri.org/IServicesOnline/GetGeobyAddressBA_HN_First" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressByGeo_Google">
      <soap12:operation soapAction="http://tempuri.org/IServicesOnline/GetAddressByGeo_Google" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoByAddress_Google">
      <soap12:operation soapAction="http://tempuri.org/IServicesOnline/GetGeoByAddress_Google" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoByAddress_GoogleV2">
      <soap12:operation soapAction="http://tempuri.org/IServicesOnline/GetGeoByAddress_GoogleV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicesOnline">
    <wsdl:port name="NetTcpBinding_IServicesOnline" binding="tns:NetTcpBinding_IServicesOnline">
      <soap12:address location="net.tcp://10.0.2.179:7000/WCFServiceGEO" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.0.2.179:7000/WCFServiceGEO</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>