Source/FormTestServices/Service References/ServicesGEO/WCFServiceGEO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationHeader" nillable="true" type="tns:AuthenticationHeader" />
</xs:schema>