Source/TaxiOperation_Services/Service References/ServicesGEO/WCFServiceGEO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.2.179:7001/WCFServiceGEO?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" />
  <xs:element name="GetAddressByGeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q1:AuthenticationHeader" />
        <xs:element minOccurs="0" name="lng" type="xs:float" />
        <xs:element minOccurs="0" name="lat" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressByGeoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q2:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeobyAddressBAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA_HN_First">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q3:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA_HN_FirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeobyAddressBA_HN_FirstResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeo_Google">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q4:AuthenticationHeader" />
        <xs:element minOccurs="0" name="lng" type="xs:float" />
        <xs:element minOccurs="0" name="lat" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeo_GoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressByGeo_GoogleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_Google">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q5:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_GoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeoByAddress_GoogleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_GoogleV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q6:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_GoogleV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeoByAddress_GoogleV2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>