Source/FormTestServices/Service References/ServiceReference/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StaxiMan_Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StaxiMan_Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LicenseKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="APIKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseKey" nillable="true" type="tns:LicenseKey" />
</xs:schema>