Source/FormTestServices/Service References/ServiceReference/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.2.107:2345/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StaxiMan_Services" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPUId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestLicenseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CPUId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apiCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StaxiMan_Services" minOccurs="0" name="SyncLicenseResult" nillable="true" type="q1:LicenseKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>