Source/TaxiOperation_BanGia/Service References/WCFSyncService/WCFSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_SyncOnline.ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_SyncOnline.ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="T_XeOnline">
    <xs:sequence>
      <xs:element minOccurs="0" name="BienSoXe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemGiaoCa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoiXe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gara" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HuongDiChuyen" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Online" type="xs:int" />
      <xs:element minOccurs="0" name="KhoangCach" type="xs:double" />
      <xs:element minOccurs="0" name="KinhDo" type="xs:float" />
      <xs:element minOccurs="0" name="LoaiXe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoaiXeGPS" type="xs:int" />
      <xs:element minOccurs="0" name="MaCungXN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoCho" type="xs:int" />
      <xs:element minOccurs="0" name="SoHieuXe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TGCapNhat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TGDiChuyenGanNhat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThoiDiemChenDuLieu" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThoiDiemXeGui" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrangThai" type="xs:int" />
      <xs:element minOccurs="0" name="ViDo" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_XeOnline" nillable="true" type="tns:T_XeOnline" />
  <xs:complexType name="ArrayOfT_XeOnline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_XeOnline" nillable="true" type="tns:T_XeOnline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_XeOnline" nillable="true" type="tns:ArrayOfT_XeOnline" />
</xs:schema>