Source/Taxi.Services/Service References/ServiceEnVangVip/OperationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OperationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOperationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.2.179:2525/OperationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.2.179:2525/OperationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.2.179:2525/OperationService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOperationService_SendACKGetPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SendACKGetPhone" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKGetPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendACKGetPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKInvite_InputMessage">
    <wsdl:part name="parameters" element="tns:SendACKInvite" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKInvite_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendACKInviteResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendOperatorCancel_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOperatorCancel" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendOperatorCancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOperatorCancelResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendInitTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInitTrip" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendInitTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInitTripResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendLogoutDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLogoutDriver" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendLogoutDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLogoutDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendOperatorCatched_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOperatorCatched" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendOperatorCatched_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOperatorCatchedResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendSms_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendCustomerUnSeenCar_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCustomerUnSeenCar" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendCustomerUnSeenCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCustomerUnSeenCarResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendText_InputMessage">
    <wsdl:part name="parameters" element="tns:SendText" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendText_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTextResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendConfirmDone_InputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmDone" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendConfirmDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmDoneResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendOperatorCmd_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOperatorCmd" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendOperatorCmd_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOperatorCmdResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendConfirmLandmark_InputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmLandmark" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendConfirmLandmark_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmLandmarkResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKRenewLandmark_InputMessage">
    <wsdl:part name="parameters" element="tns:SendACKRenewLandmark" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKRenewLandmark_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendACKRenewLandmarkResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKActiveChange_InputMessage">
    <wsdl:part name="parameters" element="tns:SendACKActiveChange" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKActiveChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendACKActiveChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendLandmark_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLandmark" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendLandmark_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLandmarkResponse" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKDriverNewTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:SendACKDriverNewTrip" />
  </wsdl:message>
  <wsdl:message name="IOperationService_SendACKDriverNewTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendACKDriverNewTripResponse" />
  </wsdl:message>
  <wsdl:portType name="IOperationService">
    <wsdl:operation name="SendACKGetPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendACKGetPhone" message="tns:IOperationService_SendACKGetPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendACKGetPhoneResponse" message="tns:IOperationService_SendACKGetPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendACKInvite">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendACKInvite" message="tns:IOperationService_SendACKInvite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendACKInviteResponse" message="tns:IOperationService_SendACKInvite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOperatorCancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendOperatorCancel" message="tns:IOperationService_SendOperatorCancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendOperatorCancelResponse" message="tns:IOperationService_SendOperatorCancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInitTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendInitTrip" message="tns:IOperationService_SendInitTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendInitTripResponse" message="tns:IOperationService_SendInitTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLogoutDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendLogoutDriver" message="tns:IOperationService_SendLogoutDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendLogoutDriverResponse" message="tns:IOperationService_SendLogoutDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOperatorCatched">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendOperatorCatched" message="tns:IOperationService_SendOperatorCatched_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendOperatorCatchedResponse" message="tns:IOperationService_SendOperatorCatched_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendSms" message="tns:IOperationService_SendSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendSmsResponse" message="tns:IOperationService_SendSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCustomerUnSeenCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendCustomerUnSeenCar" message="tns:IOperationService_SendCustomerUnSeenCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendCustomerUnSeenCarResponse" message="tns:IOperationService_SendCustomerUnSeenCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendText">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendText" message="tns:IOperationService_SendText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendTextResponse" message="tns:IOperationService_SendText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmDone">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendConfirmDone" message="tns:IOperationService_SendConfirmDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendConfirmDoneResponse" message="tns:IOperationService_SendConfirmDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOperatorCmd">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendOperatorCmd" message="tns:IOperationService_SendOperatorCmd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendOperatorCmdResponse" message="tns:IOperationService_SendOperatorCmd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmLandmark">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendConfirmLandmark" message="tns:IOperationService_SendConfirmLandmark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendConfirmLandmarkResponse" message="tns:IOperationService_SendConfirmLandmark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendACKRenewLandmark">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendACKRenewLandmark" message="tns:IOperationService_SendACKRenewLandmark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendACKRenewLandmarkResponse" message="tns:IOperationService_SendACKRenewLandmark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendACKActiveChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendACKActiveChange" message="tns:IOperationService_SendACKActiveChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendACKActiveChangeResponse" message="tns:IOperationService_SendACKActiveChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLandmark">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendLandmark" message="tns:IOperationService_SendLandmark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendLandmarkResponse" message="tns:IOperationService_SendLandmark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendACKDriverNewTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/IOperationService/SendACKDriverNewTrip" message="tns:IOperationService_SendACKDriverNewTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOperationService/SendACKDriverNewTripResponse" message="tns:IOperationService_SendACKDriverNewTrip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOperationService" type="tns:IOperationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOperationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendACKGetPhone">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendACKGetPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendACKInvite">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendACKInvite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOperatorCancel">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendOperatorCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInitTrip">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendInitTrip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLogoutDriver">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendLogoutDriver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOperatorCatched">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendOperatorCatched" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCustomerUnSeenCar">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendCustomerUnSeenCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendText">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmDone">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendConfirmDone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOperatorCmd">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendOperatorCmd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmLandmark">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendConfirmLandmark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendACKRenewLandmark">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendACKRenewLandmark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendACKActiveChange">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendACKActiveChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLandmark">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendLandmark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendACKDriverNewTrip">
      <soap12:operation soapAction="http://tempuri.org/IOperationService/SendACKDriverNewTrip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperationService">
    <wsdl:port name="NetTcpBinding_IOperationService" binding="tns:NetTcpBinding_IOperationService">
      <soap12:address location="net.tcp://10.0.2.179:2526/OperationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.0.2.179:2526/OperationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>