Source/Taxi.Services/Service References/WCFServiceGEO/WCFServiceGEO3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ServicesGEO.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ServicesGEO.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PriceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPrice" type="xs:int" />
      <xs:element minOccurs="0" name="Polyline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceResponse" nillable="true" type="tns:PriceResponse" />
</xs:schema>