Source/Taxi.Services/Service References/WCFServiceGEO/WCFServiceGEO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.11.172:7001/WCFServiceGEO?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" />
  <xs:import schemaLocation="http://10.1.11.172:7001/WCFServiceGEO?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_ServicesGEO.Common" />
  <xs:element name="GetAddressByGeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q1:AuthenticationHeader" />
        <xs:element minOccurs="0" name="lng" type="xs:float" />
        <xs:element minOccurs="0" name="lat" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressByGeoResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="building" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q2:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeobyAddressBAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA_Full">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q3:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA_FullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeobyAddressBA_FullResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA_HN_First">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q4:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeobyAddressBA_HN_FirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeobyAddressBA_HN_FirstResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeo_Google">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q5:AuthenticationHeader" />
        <xs:element minOccurs="0" name="lng" type="xs:float" />
        <xs:element minOccurs="0" name="lat" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeo_GoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressByGeo_GoogleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeo_Google_WithBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q6:AuthenticationHeader" />
        <xs:element minOccurs="0" name="lng" type="xs:float" />
        <xs:element minOccurs="0" name="lat" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressByGeo_Google_WithBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressByGeo_Google_WithBuildingResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="building" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_Google">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q7:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_GoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeoByAddress_GoogleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_GoogleV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_ServicesLibrary" minOccurs="0" name="authenticate" nillable="true" type="q8:AuthenticationHeader" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoByAddress_GoogleV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeoByAddress_GoogleV2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrice_FromTwoLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromLat" type="xs:float" />
        <xs:element minOccurs="0" name="fromLng" type="xs:float" />
        <xs:element minOccurs="0" name="toLat" type="xs:float" />
        <xs:element minOccurs="0" name="toLng" type="xs:float" />
        <xs:element minOccurs="0" name="compid" type="xs:int" />
        <xs:element minOccurs="0" name="carType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrice_FromTwoLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_ServicesGEO.Common" minOccurs="0" name="GetPrice_FromTwoLocationResult" nillable="true" type="q9:PriceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>